<header class="admin-header">
	<div class="admin-header-container">
		<div class="dash-header-left">
			<a href="/dashboard">
				<img src="assets/images/logo-mwasi-original.png" alt="Logo MWASI" class="header-logo">
			</a>
			<a href="/dashboard">Espace administration</a>
		</div>
		<div class="header-right">
			<a href="/logout" class="header-espace">
				<img src="/assets/icons/logout-9a3e35.png" alt="Icône" class="icon-person-inline">
				<span>Déconnexion</span>
			</a>
		</div>
	</div>
</header>