<header class="dash-header">
  <div class="dash-header-left">
    <h1>MWASI - Administration</h1>
  </div>
  <div class="dash-header-right">
    <a href="/logout" class="logout-link">Déconnexion</a>
  </div>
</header>
