<header class="header">
	<div class="header-container">
		<div class="header-left">
			<a href="/">
				<img src="assets/images/logo-mwasi-pink.png" alt="Logo MWASI" class="header-logo">
			</a>
		</div>
		<nav class="header-center">
			<ul class="header-menu">
				<li>
					<a href="/a-propos">À propos</a>
				</li>
				<li>
					<a href="/nos-actions">Nos actions</a>
				</li>
				<li>
					<a href="/ressources">Ressources</a>
				</li>
				<li>
					<a href="/temoignages">Témoignages</a>
				</li>
				<li>
					<a href="/rejoindre">Rejoindre MWASI</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="header-right">
			<a href="/login" class="header-espace">
				<img src="/assets/icons/person-9a3e35.png" alt="Icône" class="icon-person-inline">
				<span>Mon espace</span>
			</a>
		</div>
	</div>
</header>


{# <header>
  <div class="flex items-center justify-between p-4">
    <!-- Gauche : logo -->
    <div class="flex-shrink-0">
      <a href="/">
        <img src="/public/images/logo-mwasi.png" alt="Logo MWASI" class="h-10">
      </a>
    </div>

    <!-- Centre : menu principal -->
    <nav class="flex-1 mx-8">
      <ul class="flex justify-center space-x-6">
        <li><a href="/a-propos">À propos</a></li>
        <li><a href="/nos-actions">Nos actions</a></li>
        <li><a href="/ressources">Ressources</a></li>
        <li><a href="/temoignages">Témoignages</a></li>
        <li><a href="/rejoindre">Rejoindre MWASI</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Droite : Mon espace -->
    <div>
      <a href="/espace" class="font-semibold hover:underline">Mon espace</a>
    </div>
  </div>
</header> #}
