<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>
		{# <link rel="stylesheet" href="/assets/css/tailwind.css"/> #}
		<link rel="stylesheet" href="/assets/css/base.css"/>
		<link rel="stylesheet" href="/assets/css/home.css"/>
		<link rel="stylesheet" href="/assets/css/header.css"/>
		<link rel="stylesheet" href="/assets/css/footer.css"/> {% block style %}{% endblock %}
		<title>
			{% block title %}MWASI
			{% endblock %}
		</title>
	</head>
	<body class="bg-red-500">
		{% include "../partials/header.twig" %}
		<main>
			{% block main %}{% endblock %}
		</main>
		{% include "../partials/footer.twig" %}
		{% block script %}{% endblock %}
	</body>
</html>
