<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>
		{# <link rel="stylesheet" href="/assets/css/tailwind.css"/> #}
		<link rel="stylesheet" href="/assets/css/base.css"/>
		<link rel="stylesheet" href="/assets/css/dashHeader.css"/>
		<link rel="stylesheet" href="/assets/css/dashboardAdmin.css"/>
		<link rel="stylesheet" href="/assets/css/dashFooter.css"/> {% block style %}{% endblock %}
		<title>
			{% block title %}MWASI
			{% endblock %}
		</title>


	<body>

		{% include "partials/dashHeader.twig" %}

		<main>
			{% block main %}{% endblock %}
		</main>

		{% include "partials/dashFooter.twig" %}

		{% block script %}{% endblock %}

	</body>
</html>
